<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- <a class="nav-left" href="#"><%#= image_tag "Drawing"%></a> -->
    <a class="navbar-brand navbar-left" href="#">My Blog</a>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><%= link_to "New Posts", new_post_path %></li>
    <li><%= link_to "All Posts", posts_path %> </li>
      <% if session[:user_id] %>
      <li>Hello <%= User.find(session[:user_id]).first_name %> </li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
      <li><%= link_to "Sign in", new_session_path %></li>
      <li><%= link_to "Sign out", sessions_path, method: :delete %></li>
  </ul>
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
</nav>
</div>
  <!-- <a href="/home">Home</a>|
  <a href="/about">About</a>|
  <%= link_to "New Posts", new_post_path %>|
  <%= link_to "All Posts", posts_path %>|
  <% if session[:user_id] %>
  Hello <%= User.find(session[:user_id]).first_name %>
  <%= link_to "Sign out", sessions_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in", new_session_path %>
  <%= link_to "Sign up", new_user_path %>|
  <% end %> -->


  <!-- <%= link_to "New Comments", new_comment_path %>|
  <%= link_to "All Comments", comments_path %>| -->
<%= notice || alert  %>
<%= yield %>

</body>
</html>
